<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../static/materialize/css/materialize.css">
</head>
<body>
{% include 'header.html' %}
{% from "_formhelpers.html" import render_field %}

<div class="row">
		<div class="col l3">&nbsp</div>
			{{delete}}
			<div class="col s12 m7 l6">
	          <div class="card">
	            <div class="card-image">
	              <img src="{{href}}">
	              <span class="card-title">Delete from wishlist</span>
	            </div>
	             <form method="POST" action="#">
	            <div class="card-content">
				
	            </div>
	            <div class="card-action">
	            <center>
	            
	            	 <input type="submit" value="Delete" class="btn-flat">
		        </center>
	            </div>
	            </form>
	          </div>
	        </div>
        <div class="col l3">&nbsp</div>
</div>
</body>
</html>